@charset "utf-8";
/* CSS Document */
body{
	color: black;
	font-family: 'Nunito Semibold';
}
		/*Mobile Grid*/
		@media screen and (min-width:480px){
		#content{
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-auto-rows: minmax(100px, auto);
				max-width: 960px;
				margin: 0 auto;
				grid-template-areas:
						"header header header header"
						"footer footer footer footer"
						"main main main main"
						"section section section section"
						"aside aside aside aside"
					}
		}
		/*Hide Profile Image*/
		@media screen and (max-width:480px){
			.hide-image{
				display: none;
			}
		}
		/*Shrink Images*/
		@media screen and (max-width:480px){
			.shrink{
				max-width: 200px;
			}
		}
		/* desktop grid */
		@media screen and (min-width: 760px){
		#content{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: minmax(100px, auto);
			max-width: 960px;
			margin: 0 auto;
						grid-template-areas:
								"header header header header"
								"aside main main main"
								"aside main main main"
								"section section section section"
								"footer footer footer footer";
		}
		}
#content > *{

	padding: 30px;
}
		header{
				grid-area: header;
				background: #eee;
				text-align: center;
		}
		main{
				min-height: 500px;
				grid-area: main;
				background: #eee;
				text-align: left;

		}
		main img{
			display: block;
			text-align: left;
		}
		main h2{
			text-align: left;
		}
		main p{
			padding-top: 50px;
		}
		aside{
				grid-area: aside;
				background: #eee;
		}
		nav{
				grid-area: nav;
				text-align: center;
				background: #eee;
		}
		a{
			color: black;
		}
		a:hover{
			color: orange;
		}
		section{
				grid-area: section;
				background: #eee;
				text-align: center;
		}
		footer{
				grid-area: footer;
				background: #333 !important;
				text-align: center;
				color: white;
		}
		footer a{
			color: white;
		}
		/*Icon Style*/
		i{
			font-size:3em;
			margin-right: 0.3em;
			display: inline-block;
		}
		/*Nested
		.nested{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: minmax(100px, auto);
			grid-gap: 5px;

		}
		.ASlogo {
			grid-columns: span 3;
			grid-row: 1/2;
			background: orange;
		}
		.ASlinks {
			grid-columns: span 3;
			grid-row: 2/3;
			background: orange;
		}*/
