*{
    margin: 0;
    padding: 0;
}

#wrap{
    width: 60%;
    padding: 10px;
    padding-bottom: 75x;
    margin: 10px auto;
    border: .5px solid grey;
}

dt{
    color: cornflowerblue;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    padding-left: 18px;
    margin-top: 50px;
    cursor: pointer;
    background: url(../img/arrow-sprite.png) 0 0 no-repeat;

}dt:hover{
    color: green;
    background-position: 0 -16px;
}

dt.open{
    background-position: 0 -32px;
}
dt.open:hover{
    background-position: 0 -48px;
}
dd{
    font-size: 18px;
    line-height: 1.3em;
    margin-left: 32px;
    margin-top: 30px;
}