
    table{
        border-collapse: collapse;
      }
  
      table td{
        border: 1px solid black;
      }
  
      table tr:first-child td{
        border-top: 0;
      }
  
      table tr:last-child td{
        border-bottom: 0;
      }
  
      table tr td:first-child {
        border-left: 0;
      }
  
      table tr td:last-child {
        border-right: 0;
      }
  
      table{
        width: 315px;
        height: 315px;
        margin: 25px auto;
        text-align: center;
      }
  
      td{
        width: 100px;
        height: 100px;
      }
      img{
        width: 75px;
        height: 75px;
      }
      h1, h2{
        text-align: center;
      }
     
      #btnReset{
        text-align: center;
        margin: 0 auto;
        display: block;
      }