           <div class="races" id="5K" >
			    <h3>5K / 10K Events</h3>
				<ul>
					<li>Snowball Sprint</br> 1/14/21 </br>Mosquito Hill </br>New London</li>
					<li>Winter Warrior </br>2/06/21 </br>Bay Beach</br> Green Bay</li>
					<li>Big Chill Run </br>2/24/21</br> Mid Valley Golf Course </br>De Pere</li>
				</ul>
			</div>
		
			<div class="races" id="half" >
				<h3>Half Marathon Events</h3>
				<ul>
					<li>Frosty Indoor Marathon</br> 1/15/21 </br>TryIt Ice Arena</br> Neenah</li>
					<li>Valentine Run </br>2/12/21 </br>Green Isle Park</br> De Pere</li>
					<li>Snowball Marathon </br>3/03/21 </br>Menominee Park </br>Oshkosh</li>
				</ul>
			</div>
		
		
			<div class="races" id="full">
				<h3>Marathon Events</h3>
				<ul>
					<li>Trailbreaker Marathon</br> 4/02/21 </br>Leach Amphitheatre</br> Oshkosh</li>
					<li>Jailbreak Marathon </br> 4/16/21 </br>Menominee Park </br>Oshkosh</li>
					<li>Cellcom Marathon </br>5/21/21</br> Lombardi Atrium</br> Green Bay </li>
				</ul>
			</div>