h1 {
    color: #0000ff;  /*blue*/
    font-size: 44px;
    }

.container {
    max-height: 520px; 
	background-color: #808080; /*grey*/ 
    }

#leftArrow, #rightArrow {
    display: inline-block;
    width: 38px;
    height: 50px;
}
#leftArrow {
    position: relative;
    /*top: 0;*/
    top: 235px;
    left: 2%;
    width: 5%;
    height: 50px;
    background: url('../images/left_arrow.png') 0 0  no-repeat;
    z-index: 10;
}

#rightArrow {
    position: relative;
    /*top: 0;*/
    top: 235px;
    left: 87.5%;
    width: 5%;
    height: 50px;
    background: url('../images/right_arrow.png') bottom right no-repeat;
    z-index: 10;
}
	
#slider {
	position: relative;
	height: 520px;
    max-width: 792px;
	margin: 0 auto;
    /*background: url("../images/Animate-Sprite_520a.png") -0 0 no-repeat;*/
    background-image: url('../images/Animate-Sprite_520a.png');
    background-repeat: no-repeat;
}

#startApp {
    width: 235px;
    margin: 0 auto;
}

#startApp ul {
    list-style-type:  none;
}

#startApp ul li a {
    display: inline-block;
    text-decoration: none;
    width:  150px;
    text-align: center;
    background-color: steelblue;
    border: 2px solid #808080;
    color: white;
    font-size: 32px;
}



